/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.woff") format("woff"),
        url("../fonts/Roboto-Bold.woff2") format("woff2");
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 14px;
    line-height: 21px;
    font-family: "Roboto", Helvetica, arial, sans-serif;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.has-mobile-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (min-width: 360px) {
    html {
        font-size: 18px;
        line-height: 27px;
    }
}

@media (min-width: 392px) {
    html {
        font-size: 21px;
        line-height: 31.5px;
    }
}

body {
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #D9D0AD;
    color: black;
    text-shadow: none;
}

::selection {
    background: #D9D0AD;
    color: black;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 200;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 4px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 8px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 16px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    color: #3C3C42;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: black;
    transition: all .1s ease;
}

a:visited,
a:active {
    color: black;
}

a:hover,
a:focus {
    color: black;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
    display: flow-root;
}

.o-row--header {
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 16px 16px;
}

/* color modifiers */

.o-row--grey {
    background-color: #F1F2F0;
}

.o-row--top {
    padding-top: 80px;
}

/* size modifiers */

.o-row--lg {
    padding: 48px 24px 24px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }

    .o-row--top {
        padding-top: 168px;
    }

    .o-row--header {
        background-color: white;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 32px 40px;
    }
}

/* padding clear modifiers */

.o-row--clear-top {
    padding-top: 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 55.5em; /* 55.5 * 21px = 1166px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flex;
    flex-direction: column;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

    .o-layout__item {
        flex-basis: 100%;
    }

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

/* .o-layout--gutter-lg {
    margin: 0 -24px;
} */

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 16px;
}

@media (min-width: 321px) {
    .o-layout--gutter-lg > .o-layout__item {
        padding: 0 24px;
    }
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: icon
    ---
    Website icons live statistics
*/

.c-icon {
    max-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 28px;
    left: 0;
    right: 0;
    text-align: center;
}

.c-icon-box--grey {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #E2E6E1;
    position: relative;
}

.c-icon-box--blue {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #C3D4EB;
    position: relative;
}

.c-icon-box--bright-green {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #CAE5B6;
    position: relative;
}

.c-icon-box--light-green {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #E3EBB8;
    position: relative;
}

.c-icon-box--yellow {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #F8F4BF;
    position: relative;
}

.c-icon-box--orange {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #F5D4AD;
    position: relative;
}

.c-icon-box--red {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #F8A9A9;
    position: relative;
}

/*
    Component: Card
    ---
    Website cards with live statistics
*/

.c-card {
    width: 100%;
    max-width: 344px;
    height: 120px;
    background: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    margin: 0 24px 16px 0px;
}

.c-card:last-child {
    margin: 0 24px 0px 0px;
}

.c-cards-group {
    display: inline-block;
}

@media (min-width: 768px) {
    .c-card {
        margin: 0 16px 16px 0px;
    }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    height: 32px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .c-logo {
        height: 64px;
    }
}

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.c-header__nav {
    display: none;
}

@media (min-width: 768px) {
    .c-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .c-header__logo,
    .c-header__nav {
        flex-grow: 1;
        flex-basis: 50%;
        align-items: center;
    }

    .c-header__nav {
        display: flex;
        justify-content: flex-end;
    }

    .c-header__mobile-nav-trigger {
        display: none;
    }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav-trigger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
}

.c-nav-trigger__svg {
    fill: #202024;
    height: 100%;
}

.c-nav {
    font-size: 21px;
    line-height: 31.5px;
} 

.c-nav__link {
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 8px 0px;
    position: relative;
}

.c-nav__link--mobile {
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 8px 0px;
    position: relative;
    color: black;
}

.c-nav__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ADC178;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.c-nav__link:hover::before {
    visibility: visible;
    transform: scaleX(0.75);
}

.is-selected .c-nav__link::before {
    visibility: visible;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ADC178;
    transform: scaleX(0.75);
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: black;
}

@media (min-width: 768px) {
    .c-nav__list {
        display: flex;
        margin-left: -16px;
        margin-right: -16px;
    }

    .c-nav__link {
        padding: 8px 16px;
    }

    .c-nav {
        font-size: 28px;
        line-height: 42px;
    }
}

/*
    Component: Mobile Nav
    ---
    Mobile Nav Component
*/

.c-mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
}

.has-mobile-nav .c-mobile-nav {
    pointer-events: auto;
}

.c-mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.c-mobile-nav__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #202024;
    transition: opacity .5s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
    opacity: .5;
}

.c-mobile-nav__body {
    position: relative;
    padding: 16px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform .5s ease;
}

.has-mobile-nav .c-mobile-nav__body {
    transform: translateX(0);
}

.c-page {
    transform: translateX(0);
}

.has-mobile-nav .c-page {
    transform: translateX(25%);
    transition: transform .5s ease;
}

@media (min-width: 768px) {
    .c-mobile-nav__body {
        padding: 48px;
    }
}

@media (min-width: 992px) {
    /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
    .c-mobile-nav {
        display: none !important;
    }
}

/*
    Component: Button save
    ---
    Button to save changes
*/

.c-btn-save {
    font-size: 21px;
    background-color: #E2E6E1;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 16px 0px;
    display: inline-block;
}

/*
    Component: Table
    ---
    Table history data site
*/

.c-table {
    border-collapse: collapse;
}

.c-table-row {
    border: 1px solid #C6CCC0;
    padding: 8px;
}

.c-table-cell {
    border: 1px solid #C6CCC0;
    padding: 8px;
}

.c-table-row:nth-child(even) {
    background-color: #F1F2F0;
}

.c-table-row:hover {
    background-color: #E2E6E1;
}

.c-table-cell--header {
    padding: 8px;
    border: 1px solid #C6CCC0;
    text-align: left;
    background-color: white;
    color: black;
}

/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead {
    position: relative;
}

.c-lead--xsm {
    font-size: 14px;
    line-height: 18px;
    color: #4A4D45;
}

.c-lead--sm {
    font-size: 16px;
    line-height: 24px;
}

.c-lead--md {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.c-lead--lg {
    font-size: 24px;
    line-height: 36px;
}


@media (min-width: 768px) {
    .c-lead--sm {
        font-size: 18px;
        line-height: 27px;
    }

    .c-lead--md-bold {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
    }

    .c-lead--lg {
        font-size: 32px;
        line-height: 48px;
    }
}

/*
    Component: Info
    ---
    Info management
*/

.c-info {
    display: inline;
    margin: 0px 0px 4px 0px;
}

.c-btn-save:hover {
    background-color: #C6CCC0;
}

/*
    Component: CTA link
    ---
    Cta link button
*/

.c-link-cta {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 8px;
    background-color: #F0EAD2;
    border-radius: 10px;
    margin: 0px 0px 8px 0px;
    cursor: pointer;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
    color: black;
}

.c-link-cta:hover,
.c-link-cta:focus {
    color: black;
    background: #D9D0AD;
}

.c-link-cta:active {
    background-color: #D9D0AD;
}

.c-link-cta:last-child {
    margin: 0px 0px 24px 0px;
}


@media (min-width: 768px) {
    .c-link-cta:last-child {
        margin: 0px 0px 42px 0px;
    }
}

/*
    Component: Input form
    ---
    Input form settings website
*/

.c-input {
    width: 90px;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E2E6E1;
    border-radius: 4px;
    box-sizing: border-box;
}

/*
    Component: Select option
    ---
    Input form history
*/

.c-select-option {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F1F2F0;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-primary-light {
    color: #7373F5;
}

.u-color-primary-base {
    color: #5051DB;
}

.u-color-primary-dark {
    color: #3E3EA8;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 42em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 350px) {
    .u-1-of-2-bp0 {
        flex-basis: calc(100% / 2) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
}